@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;
  --color-gray-90: #eeeeee;
  --color-accent: #e67e22;
  --color-red: #FF5500;
  --color-blue: #428bca;
  --gradient: linear-gradient(
    45deg,
    var(--color-dark-15) 64%,
    var(--color-accent) 136%
  );
  --border: 0.0625rem solid var(--color-accent);
  --shadow: 0 0 0 0.1875rem #191919;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Kumbh Sans", sans-serif;
  --container-width: 100rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
  --100vw: calc(100vw - var(--scrollbar-width));
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;
}
.full-vw-line::before, .full-vw-line::after {
  position: absolute;
  width: calc((var(--100vw) - var(--container-width)) / 2);
  height: 0.0625rem;
  background-color: var(--color-dark-15);
}
.full-vw-line--top::before {
  content: "";
  bottom: 100%;
}
.full-vw-line--bottom::after {
  content: "";
  top: 100%;
}
.full-vw-line--left::before, .full-vw-line--left::after {
  right: 100%;
}
.full-vw-line--right::before, .full-vw-line--right::after {
  left: 100%;
}

.circle-icon {
  --circleSize: 3.25rem;
  --circleMarginLeft: 1.25rem;
  position: relative;
  min-height: var(--circleSize);
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));
}
@media (width <= 90.06125rem) {
  .circle-icon {
    --circleSize: 2.75rem;
    --circleMarginLeft: 0.875rem;
  }
}
@media (width <= 47.99875rem) {
  .circle-icon {
    --circleSize: 2.5rem;
  }
}
.circle-icon::after {
  width: var(--circleSize);
  height: var(--circleSize);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "";
  right: 0;
  background: url("../icons/vector431.svg") center no-repeat var(--color-accent);
  border-radius: 50%;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-dark);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

p {
  --paragraphMarginBottom: 1.5rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.colorAccent {
  color: var(--color-accent);
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 3.125rem 12.5rem;
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark-40);
  }
}
.header__promo {
  padding-block: 0.625rem;
  padding-inline: 0.625rem;
  text-align: center;
  background-color: var(--color-gray-90);
  border-bottom: var(--border);
}
@media (width <= 47.99875rem) {
  .header__promo {
    padding-block: 0.3125rem;
    padding-inline: 0rem;
  }
}
@media (width <= 30.06125rem) {
  .header__promo {
    font-size: 0.75rem;
  }
}
.header__promo-links {
  display: flex;
  justify-content: space-between;
}
.header__promo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-accent);
}
.header__promo-link .icon-tm {
  padding-right: 0.3125rem;
}
.header__promo-link .icon-tg {
  display: flex;
  align-self: center;
  padding-left: 0.625rem;
  color: var(--color-light);
  width: 1.875rem;
}
@media (width <= 63.99875rem) {
  .header__promo-link .icon-tg {
    width: 1.875rem;
  }
}
.header__body {
  padding-block: 1.5rem;
  background-color: var(--color-light);
}
@media (width <= 63.99875rem) {
  .header__body {
    padding-block: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body {
    padding-block: 1rem;
  }
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-dark-10);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    -moz-column-gap: 0.375rem;
         column-gap: 0.375rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  padding: 0.875rem 1.5rem;
  color: var(--color-gray-50);
}
@media (width <= 63.99875rem) {
  .header__menu-link {
    padding: 0.3125rem 0.625rem;
  }
}
.header__menu-link.is-active {
  color: var(--color-light);
  font-weight: 500;
  background-color: var(--color-accent);
  pointer-events: none;
}
@media (width <= 47.99875rem) {
  .header__contact-us-link {
    width: 100%;
    max-width: 18.75rem;
    align-self: center;
  }
}
.header__register {
  position: relative;
}
.header__button {
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  min-width: 9.375rem;
}
@media (width <= 63.99875rem) {
  .header__button {
    padding-inline: 0.625rem;
    padding-block: 0.3125rem;
  }
}
.header__form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 3.125rem;
  right: 0px;
  width: 20.625rem;
  height: 18.75rem;
}
@media (width <= 63.99875rem) {
  .header__form {
    top: 2.5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__form {
  width: clamp(20.625rem, 9.9509803922rem + 43.7908496732vw, 62.5rem);
  height: clamp(15.625rem, 13.2352941176rem + 9.8039215686vw, 25rem);
}

.icon {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
.icon::after {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  content: "";
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (width <= 90.06125rem) {
  .icon::after {
    --size: 1.25rem;
  }
}
.icon--yellow-arrow::after {
  background-image: url("../../icons/arrow-top-right_yellow.svg");
}
.icon--yellow-eye::after {
  background-image: url("../../icons/eye_yellow.svg");
}
.icon--gray-arrow-down::after {
  background-image: url("../../icons/arrow-down_gray.svg");
}

.logo {
  max-width: clamp(9.375rem, 8.9129901961rem + 1.8954248366vw, 11.1875rem);
}
@media (width <= 63.99875rem) {
  .logo {
    max-width: clamp(6.875rem, 6.556372549rem + 1.3071895425vw, 8.125rem);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: var(--border);
  margin-top: 1.875rem;
  padding-top: 1.875rem;
  padding-bottom: 0.625rem;
  row-gap: 1.25rem;
}
.footer__info {
  margin-inline: 6.25rem;
  text-align: center;
}
@media (width <= 47.99875rem) {
  .footer__info {
    margin-inline: 1.875rem;
  }
}
.footer__info img {
  float: left;
  padding-right: 0.625rem;
}
.footer__copyright-bolt {
  font-weight: bold;
}
.footer__pay {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.button {
  background-color: var(--color-blue);
  color: var(--color-light);
  border: none;
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-accent);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  align-self: end;
  width: 55%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-light);
  border: var(--border);
}
.form__enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  row-gap: 1.5625rem;
}
.form__enter-buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.form__enter-button {
  padding-inline: 0.3125rem;
  padding-block: 0.1875rem;
  min-width: 5rem;
}
.form__register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  height: 25%;
}
.form__register-button {
  padding-inline: 0.9375rem;
  padding-block: 0.3125rem;
  min-width: 5rem;
}
.form__input {
  width: 70%;
  padding-inline: 1.5625rem;
}
.form.is-active {
  opacity: 1;
  visibility: visible;
}

.hero {
  width: 100%;
}
.hero__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/fone.jpg) round;
  background-clip: content-box;
  background-origin: content-box;
  height: 38.1679389313vw;
}
.hero__title h2 {
  color: var(--color-light);
}
.hero__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: var(--border);
  padding-bottom: 3.125rem;
}
.hero__main h2 {
  color: var(--color-dark-20);
  margin-block-end: 0.625rem;
}
.hero__main p {
  color: var(--color-gray-60);
  font-style: italic;
}

.news {
  width: clamp(21.875rem, 13.112745098rem + 35.9477124183vw, 56.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news .new {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 3.75rem;
  border: 1px solid var(--color-gray-60);
  box-shadow: 10px 8px 8px 3px #888;
  margin-bottom: 1.25rem;
}
@media (width <= 47.99875rem) {
  .news .new {
    padding: 0.9375rem 1.875rem;
  }
}
.news .new__header {
  display: grid;
  grid-template-columns: 3.75rem auto;
  grid-template-rows: repeat(2, 1.875rem);
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  align-items: center;
  margin-bottom: 0.9375rem;
}
@media (width <= 30.06125rem) {
  .news .new__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.news .new__header-icon {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red);
}
@media (width > 30.06125rem) {
  .news .new__header-icon {
    grid-row: span 2;
  }
}
.news .new__footer {
  display: flex;
  font-weight: bold;
  margin-top: 1.25rem;
}
.news .new__footer p {
  margin-left: 0.625rem;
}
.news .new__footer img:nth-child(3) {
  margin-left: 1.25rem;
}/*# sourceMappingURL=main.css.map */